@model IEnumerable<EVE.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container" style="display:grid;text-align:center;">
    <div class="row">
        @foreach(var item in Model)
        {
        <div class="card col-4" style="width:18rem;">
            <h1>Card ID: @item.CartID</h1>
            <p>Member ID: @item.MemberID</p>
            <p>Product ID: @item.ProductID </p>
            <p>Quantity: @item.Quantity</p>
            <div style="display:flex;justify-content:space-between;">
            <a asp-action="Edit" asp-route-id="@item.CartID">Edit</a> 
            <a asp-action="Details" asp-route-id="@item.CartID">Details</a> 
            <a asp-action="Delete" asp-route-id="@item.CartID">Delete</a>
            <a href="/Carts/Details/@item.CartID">Description</a>
             </div>
        </div>
        }
    </div>
</div>

