@model IEnumerable<EVE.Controllers.Stores>
@using Newtonsoft.Json


@{ ViewData["Title"] = "Stores"; }

<h1>Our Brunches</h1>
<style type="text/css">
    /* map needs width and height to appear */
    #map {
        width: 900px;
        max-width: 100%;
        height: 500px;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.countrey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.houseNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.countrey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.houseNumber)
                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>


<div id="map"></div>
<div id="info_div"></div>
<script>
function initMap() {
    var myMapCenter = { lat: 32.085300, lng: 34.781769 };

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: myMapCenter,
            zoom: 14
        });


    function markStore(storeInfo, address) {

            // Create a marker and set its position.
            var marker = new google.maps.Marker({
                map: map,
                position: storeInfo,
                title: "EvE store"
            });

            // show store info when marker is clicked
            marker.addListener('click', function () {
                showStoreInfo(address);
            });


    }

    // show store info in text box
    function showStoreInfo(address) {
        var info_div = document.getElementById('info_div');
        info_div.innerHTML = 'Store address: '
            + address;
    }

    var stores=@Html.Raw(JsonConvert.SerializeObject(ViewBag.storesLocation));
    stores.forEach(function (store) {
        markStore(new google.maps.LatLng(store.lat, store.lng), store.address);
    });
    }</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVuiJ4kCTsVZkbihbJOhBO2Cm0qFAssJw&callback=initMap" async defer"></script>