@{
    ViewData["Title"] = "Leave a Message";
}


<div class="footer-content">
    <h1>@ViewData["Title"]</h1>

    @*@foreach (var item in Models.Stores)
    {
<p>
    @Html.DisplayFor(modelItem => item.countrey) ,
    @Html.DisplayFor(modelItem => item.city) ,
    @Html.DisplayFor(modelItem => item.street) ,
    @Html.DisplayFor(modelItem => item.houseNumber)
</p>
                <a asp-action="Stores" asp-route-id="@item.Stores">Show in Map</a>

    }*@


    <form>
        <label for="name">Name:</label> <br />
        <input type="text" name="name" /> <br />
        <label for="phone">Phone:</label> <br />
        <input type="text" name="phone" /> <br />
        <label for="topic">Topic:</label><br />
        <input type="text" name="topic" /> <br />
        <label for="message">Message:</label> <br />
        <textarea name="message" rows="4" cols="40"> </textarea>  <br />
        <input type="submit" value="Submit" class="submit-btn" /> <br />
    </form>

</div>